{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ 'APIAutomationController' }}">

{% csrf_token %}
<div class="form-control" style="height: 100%">
    <label style="color: #ff6600;margin-left: 2%;margin-top: 2%">Enter ip address for the environment</label>
    <input type="text" class="form-control" name="ip" style="margin-left: 2%;width:90%" required value="172.19.3.10">

    <label style="color: #ff6600;margin-left: 2%;margin-top: 2%">Enter username</label>
    <input type="text" class="form-control" name="username" style="margin-left: 2%;width:90%" required value="TST_PETER">

    <label style="color: #ff6600;margin-left: 2%;margin-top: 2%">Enter password</label>
    <input type="password" class="form-control" name="password" style="margin-left: 2%;width:90%" required >

    <label style="color: #ff6600;margin-left: 2%;margin-top: 2%">Enter  path of the  API Mapping Sheet</label>
    <input type="text" class="form-control" name="output_path" style="margin-left: 2%;width:90%" required value="/Users/markessam/Documents/UDIC:\Users\Ahmed_Salama\Desktop\LATEST_VERSION 1.0.13-BETA\New_UDI_DataProfiling_Tool-master\D_A_T\API_FUNCS\APISheets\AutomationSheet.xlsx">




{#    <div style="text-align: center;margin-top:2% ">#}
{##}
{##}
{#   <label class="checkbox-inline">#}
{#      <input type="checkbox" value="1" name="testing">Testing#}
{#    </label>#}
{#    <label class="checkbox-inline">#}
{#      <input type="checkbox" value="1" name="UDI">UDI#}
{#    </label>#}
{#        </div>#}

    <div style="text-align: center;margin-top: 2%">
<input type="submit" value="Start" class="btn btn-success" style="background-color: #ff6600">
    </div>
    </div>
</form>

<script>
function enable()
{
    flag = document.getElementById("constraints").value;
    if(flag == "Testing")
    {
        document.getElementById("test_categories").style.display = "block";
        document.getElementById("scripts_status").style.display = "block";

    }
    else{
        document.getElementById("test_categories").style.display = "none";
        document.getElementById("scripts_status").style.display = "none";
    }

}

function change_model_testing()
{
    flag = document.getElementById("model_testing").value;
    if(flag == "is_source")
    {
        document.getElementById("source").style.display = "block";
        document.getElementById("source_name").required = true;
        document.getElementById("source_name").value = "";
         document.getElementById("stg_count").disabled = false;

        document.getElementById("core_table").style.display = "none";
         document.getElementById("core_table_name").required = false;
         document.getElementById("core_table_name").value = "Null";
    }
    else{
        document.getElementById("source").style.display = "none";
        document.getElementById("source_name").required = false;
        document.getElementById("source_name").value = "Null";
        document.getElementById("stg_count").disabled = true;

        document.getElementById("core_table").style.display = "block";
        document.getElementById("core_table_name").required = true;
        document.getElementById("core_table_name").value = "";
    }
}


    $(document).ready(function (){
        $("#constraints").on("change",function (){
            if(this.value === "Testing")
            {
                $("#test_categories").show();
                $("#scripts_status").show();
            }
            else{
                 $("#test_categories").hide();
                }
        });
    });
function toggle_checkboxes(check_all){
        checkboxes = document.getElementsByName('catgs');
        flag = document.getElementById("model_testing").value;

        for(var i=0, n=checkboxes.length;i<n;i++) {

          checkboxes[i].checked = check_all.checked;
          if(flag == "is_core_table")
         {
                document.getElementById("stg_count").checked = false;
         }

          }
    }
    function uncheck_checkall(){
        checkboxes = document.getElementsByName('catgs');

        checkall = document.getElementsByName('checkall');
        for(var i=1, n=checkboxes.length;i<n;i++) {
            for(var j=0, m=checkall.length;j<m;j++){
                checkall[j].checked = false;
            }
        }
    }

</script>
{% endblock %}